<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Forgot your password?</h2>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Reset password", class: "btn btn-lg btn-primary btn-block"  %>
  </div>
  <%= render "devise/shared/links" %>

<% end %>

