<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address', required: true %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.phone_field :phone_number, class: 'form-control', placeholder: 'Phone Number'%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.text_field :street, class: 'form-control', placeholder: 'Street'%>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.text_field :street2, class: 'form-control', placeholder: 'Street 2'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="field">
        <%= f.text_field :city, class: 'form-control', placeholder: 'City'%>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="field">
        <%= f.text_field :state, class: 'form-control', placeholder: 'State'%>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="field">
        <%= f.text_field :zip_code, class: 'form-control', placeholder: 'Zipcode '%>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-md btn-primary btn-block" %>
  </div>

<% end %>
