<p id="notice"><%= notice %></p>
<div class="contact-wrapper">
  <div class="row">
  <% @contacts.each do |contact| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default contact-panel ">
        <div class="panel-heading">
          <%= link_to( contact.first_name + " " + contact.last_name, contact)%>
          <p><%= contact.state %></p>
        </div>
        <div class="panel-actions">
          <%= link_to(edit_contact_path(contact)) do %>
            <%= embedded_svg "edit.svg" %>
          <% end %>
          <%= link_to(contact, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <%= embedded_svg "close.svg" %>
          <% end %>
        </div>
        <div class="panel-body">
          <%= contact.email %><br/>
          <p><%= contact.phone_number %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>