<p id="notice"><%= notice %></p>

<div class="contact-wrapper show">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default contact-panel ">
        <div class="panel-heading">
          <%= link_to( @contact.first_name + " " + @contact.last_name, @contact)%>
          <p><%= @contact.state %></p>
        </div>
        <div class="panel-actions">
          <%= link_to(edit_contact_path(@contact)) do %>
            <%= embedded_svg "edit.svg" %>
          <% end %>
          <%= link_to(@contact, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <%= embedded_svg "close.svg" %>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-address">
                <%= @contact.street %>
                <%= @contact.street2 %><br/>
                <%= @contact.city %>,
                <%= @contact.state %>
                <%= @contact.zip_code %>
              </div>
            </div>
            <div class="col-md-6">
              <%= @contact.email %><br/>
              <p><%= @contact.phone_number %></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>