<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address', required: true %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true %>
    </div>
    <div class="checkbox">
      <label>
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end -%>
      </label>
    </div>
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>

  <%= render "devise/shared/links" %>

</div>
<% end %>
