/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #181a26;
	color: #fff;
}
.btn-primary {
	background-color: #208ded;
	border-radius: 0;
}
a {
	color: #fff;
}
a:visited {
	color: #fff;
}
.sidebar {
	position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #208ded;
}
.main {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 50px;
}
.navbar {
  background-color: #fff;
  border-color: #fff;
}
.form-control {
  border-radius: 0;
}
.navbar-nav li a:hover {
  color: #208ded !important;
}
.navbar-brand {
  font-size: 38px;
  color: #bfbfbf;
}
.navbar-brand:hover {
  color: #208ded !important;
}

