// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_contact {
	input {
		border-radius: 0;
		border: none;
	}
}
.contact-wrapper {
  margin-top: 27px;
  &.show {
    .panel-body {
      p {
        font-size: 30px;
        line-height: 1;
      }
    }
  }
}
.contact-panel {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
  border-radius: 0;
  position: relative;
  &:hover {
    .panel-heading {
      a {
        &:hover {
          color: #208ded;
          background-color: transparent;
          text-decoration: none;
        }
      }
      background-color: rgba(70, 76, 109, 0.50);
    }
    .panel-body {
      background-color: rgba(70, 76, 109, 0.50);

    }
  }
  .panel-actions {
    position: absolute;
    right: 5px;
    top: 9px;
    a {
      text-decoration: none;
      background-color: transparent;
    }
    svg {
      fill: #fff;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      transition: all .225s;
      &:hover {
        fill: #208ded;
        transform: scale(1.2);
      }
    }
  }
  .panel-heading {
    border-radius: 0;
    background-color: rgba(70, 76, 109, 0.25);
    border: none;
    font-size: 18px;
    color: #fff;
  }
  .panel-body {
    background-color: rgba(70, 76, 109, 0.25);
    p {
      margin-bottom: 0;
      font-size: 16px;
    }
    .contact-address {
      font-size: 20px;
      line-height: 1;
    }
  }
}