// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_user {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20vh;
  .form-signin-heading {
    text-align: center;
    font-size: 25px;
  }
  label {
    font-weight: 300;
  }
  input {
    border-radius: 0;
    border: none;
  }
}

.nav-sidebar {
  li {
    a {
      transition: all .225s;
      &:hover {
        background-color: #1662a5;
      }
    }
  }
}