<!DOCTYPE html>
<html>
<head>
  <title>Peeple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="col-sm-12 main">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
